@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarpanch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

* {
  background-color: #4a4e69;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin: 100px 100px 0px;
  font-family: 'Sarpanch', sans-serif;
}

.title h2 {
  color: #22223b;
  font-family: 'Poppins', sans-serif;
}

.title button {
  height: 60px;
  width: 150px;
  padding: 15px;
  border: 2px solid #22223b;
  font-family: 'Teko', sans-serif;
  font-size: 24px;
  transition: all 2s;
}

.title button:hover {
  transform: scale(0.98);
  border-radius: 30px 0px 30px;
  cursor: pointer;
  color: #f2e9e4;
}

.title button:active {
  transform: scale(1.1);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.main h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 32px; /* add anim */
}

.createCard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.main-input {
  width: 210px;
  height: 56px;
  padding: 0 16px;
  background: transparent;
  border-radius: 10px;
  font-family: 'Teko', sans-serif;
  font-size: 24px;
}

.main-input:valid {
  color: #6A994E;
  animation: none;
}

.main-input:invalid {
  color: #8B0000;
  animation: shake 0.14s 3;
}

@keyframes shake {
  0%, 100% {
    translate: 0;
  }
  25% {
    translate: 8px 0;
  }
  75% {
    translate: -8px 0;
  }
}

.main-input::placeholder {
  color: #22223b;
  font-family: 'Teko', sans-serif;
}

.createCard button {
  border: none;
}

.addCard:hover {
  cursor: pointer; /* add anim */
}

.addCardIcon {
  transition: all 1s;
}

.addCardIcon:hover {
  fill: #6A994E;
}

.addCardIcon:active {
  transform: scale(1.1);
}

/* _________________________________________________________________________ */

.content {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  border: 1px solid #f2e9e4;
  border-radius: 10px;
  padding: 15px;
  gap: 100%;
  position: relative;
}

.contentTitle {
  flex-direction: column;
  word-break: break-all;
}

.contentTitle h3 {
  overflow-wrap: break-word;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.inputs input {
  width: 120px;
  height: 30px;
  font-size: 24px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #000;
  outline: none;
}

.inputs input::placeholder {
  font-family: 'Teko', sans-serif;
  color: #22223b;
}

.inputs input:valid {
  color: #6A994E;
  animation: none;
}

.inputs input:invalid {
  color: #8B0000;
  animation: shake 0.14s 3;
}

.content button {
  width: 120px;
  height: 30px;
  border: none;
  cursor: pointer;
}

.deleteButton {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 20px;
  border: none;
}

.updateIcon,
.deleteIcon {
  transition: all 1s;
}

.updateIcon:hover {
  fill: #6A994E;
}

.deleteIcon:hover {
  fill: #8B0000;
}

.updateIcon:active,
.deleteIcon:active {
  transform: scale(1.1);
}